<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Embedder</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/app.css">
		<script src="/js/index.js"></script>
	</head>
	<body>
		<section class="todoapp">
			<nav class="nav">
				<ul>
					<li class="user"><%= user.name || user.username %></li>
					<li>
						<form action="/logout" method="post">
							<button class="logout" type="submit">Sign out</button>
						</form>
					</li>
				</ul>
			</nav>
			<header class="header">
				<h1>Embedder</h1>
				<form action="/" method="post" encType="multipart/form-data">
					<!---->
					<div id="dropArea">
						<p class="dragregion">Upload a file or drag n' drop into the dashed region</p>
						<br>
						<p class="dragregion"><input class="" type="file" id="fileupload" name="fileupload"><input type="submit"></p>
						<p class="dragregion">Click the file to copy the url</p>
					</div>
				</form>
			</header>
			<% if (Count > 0) { %>
			<section class="main">
				<ul class="todo-list">
					<% files.forEach(function(file) { %>
					<li>
						<form action="<%= file.url %>" method="post">
							<div class="view">
								<img class="image" src="/uploads/<%=file.path %>" width="100%" onclick="copyURI(event)">
								<label text-align:"center"><%= file.path %></label>
								<button class="destroy" form="delete-<%= file.path %>"></button>
							</div>
						</form>
						<form name="delete-<%= file.path %>" id="delete-<%= file.path %>" action="<%= file.url %>/delete" method="post">
						</form>
					</li>
					<% }); %>
				</ul>
			</section>
			<% } %>
		</section>
		<footer class="info">
			<p><a href="https://l.nekomimi.pet/project">Created by Wavering Ana</a></p>
			<p><a href="https://github.com/WaveringAna/Embedder">Github</a></p>
		</footer>
	</body>
</html>
