<%
function extension(string) {
return string.slice((string.lastIndexOf(".") - 2 >>> 0) + 2);
}

const videoExtensions = ['.mp4', '.mov', '.avi', '.flv', '.mkv', '.wmv', '.webm'];
const imageExtensions = ['.jpg', '.jpeg', '.png', '.gif', '.bmp', '.svg', '.tiff', '.webp'];
%>

<!-- _fileList.ejs -->
<% files.forEach(function(file) { %>
<li id="<%= file.path %>" class="show">
  <div class="view">
    <% if (videoExtensions.includes(extension(file.path))) { %>
    <!-- Show spinner initially -->
    <div id="spinner-<%= file.path %>" class="spinner">Optimizing Video for Sharing...</div>

    <!-- Hidden video container to be displayed later -->
    <div class="video">
      <video id="video-<%= file.path %>" class="image" autoplay loop muted playsinline loading="lazy" style="display: none;">
        <source src="/uploads/720p-<%= file.path %>" loading="lazy">
      </video>
      <div class="overlay">
        <% if(user.username == "admin" && file.username != "admin") { %>
        <small class="username"><%= file.username %></small>
        <br>
        <% } %>
        <a href="/gifv/<%=file.path %>" onclick="copyA(event)">Copy as GIFv</a>
      </div>
    </div>
    <% } else if (extension(file.path) == ".gif") { %>
    <div class="video">
      <img class="image" src="/uploads/720p-<%=file.path %>" width="100%" onclick="copyURI(event);" loading="lazy">
      <div class="overlay">
        <% if(user.username == "admin" && file.username != "admin") { %>
        <small class="username"><%= file.username %></small>
        <br>
        <% } %>
        <a href="/gifv/<%=file.path %>" onclick="copyA(event)">Copy as GIFv</a>
      </div>
    </div>
    <% } else if (imageExtensions.includes(extension(file.path))) { %>
    <div class="video">
      <img class="image" src="/uploads/<%=file.path %>" width="100%" onclick="copyURI(event)" loading="lazy">
      <% if(user.username == "admin" && file.username != "admin") { %>
      <div class="overlay">
        <small class="username"><%= file.username %></small>
      </div>
      <% } %>
    </div>
    <% } else {%>
    <!-- non-media file -->
    <div class="nonmedia" onclick="copyPath('/uploads/<%=file.path%>')">
      <p><%=extension(file.path)%> file</p>
      <% if(user.username == "admin" && file.username != "admin") { %>
      <div class="overlay">
        <small class="username"><%= file.username %></small>
      </div>
      <% } %>
    </div>
    <% } %>
    <label><%= file.path %></label>
    <button class="destroy" hx-get="<%=file.url%>/delete" hx-trigger="click" hx-target="#embedder-list" hx-swap="innerHTML"></button>
    <button type="button" class="fullsize" onclick="openFullSize('/uploads/<%=file.path%>')"></button>
  </div>
</li>
<% }); %>